WebRole1/Service References/toolsServiceReference/WCF_CloudRandomService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCF_CloudRandomService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49711/WCF_CloudRandomService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49711/WCF_CloudRandomService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49711/WCF_CloudRandomService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCF_CloudRandomService_randomInt_InputMessage">
    <wsdl:part name="parameters" element="tns:randomInt" />
  </wsdl:message>
  <wsdl:message name="IWCF_CloudRandomService_randomInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:randomIntResponse" />
  </wsdl:message>
  <wsdl:message name="IWCF_CloudRandomService_randomOnlyAlphabet_InputMessage">
    <wsdl:part name="parameters" element="tns:randomOnlyAlphabet" />
  </wsdl:message>
  <wsdl:message name="IWCF_CloudRandomService_randomOnlyAlphabet_OutputMessage">
    <wsdl:part name="parameters" element="tns:randomOnlyAlphabetResponse" />
  </wsdl:message>
  <wsdl:message name="IWCF_CloudRandomService_GetRandomStringByPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomStringByPassword" />
  </wsdl:message>
  <wsdl:message name="IWCF_CloudRandomService_GetRandomStringByPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomStringByPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IWCF_CloudRandomService_digitConvert_InputMessage">
    <wsdl:part name="parameters" element="tns:digitConvert" />
  </wsdl:message>
  <wsdl:message name="IWCF_CloudRandomService_digitConvert_OutputMessage">
    <wsdl:part name="parameters" element="tns:digitConvertResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCF_CloudRandomService">
    <wsdl:operation name="randomInt">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_CloudRandomService/randomInt" message="tns:IWCF_CloudRandomService_randomInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_CloudRandomService/randomIntResponse" message="tns:IWCF_CloudRandomService_randomInt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="randomOnlyAlphabet">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_CloudRandomService/randomOnlyAlphabet" message="tns:IWCF_CloudRandomService_randomOnlyAlphabet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_CloudRandomService/randomOnlyAlphabetResponse" message="tns:IWCF_CloudRandomService_randomOnlyAlphabet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomStringByPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_CloudRandomService/GetRandomStringByPassword" message="tns:IWCF_CloudRandomService_GetRandomStringByPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_CloudRandomService/GetRandomStringByPasswordResponse" message="tns:IWCF_CloudRandomService_GetRandomStringByPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="digitConvert">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_CloudRandomService/digitConvert" message="tns:IWCF_CloudRandomService_digitConvert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_CloudRandomService/digitConvertResponse" message="tns:IWCF_CloudRandomService_digitConvert_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCF_CloudRandomService" type="tns:IWCF_CloudRandomService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="randomInt">
      <soap:operation soapAction="http://tempuri.org/IWCF_CloudRandomService/randomInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="randomOnlyAlphabet">
      <soap:operation soapAction="http://tempuri.org/IWCF_CloudRandomService/randomOnlyAlphabet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomStringByPassword">
      <soap:operation soapAction="http://tempuri.org/IWCF_CloudRandomService/GetRandomStringByPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="digitConvert">
      <soap:operation soapAction="http://tempuri.org/IWCF_CloudRandomService/digitConvert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCF_CloudRandomService">
    <wsdl:port name="BasicHttpBinding_IWCF_CloudRandomService" binding="tns:BasicHttpBinding_IWCF_CloudRandomService">
      <soap:address location="http://localhost:49711/WCF_CloudRandomService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>