WebRole1/Service References/toolsServiceReference/WCF_CloudRandomService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49711/WCF_CloudRandomService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="randomInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="min" type="xs:int" />
        <xs:element minOccurs="0" name="max" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="randomIntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="randomIntResult" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="randomOnlyAlphabet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="length" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="lowerCase" type="xs:boolean" />
        <xs:element minOccurs="0" name="capital" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="randomOnlyAlphabetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="randomOnlyAlphabetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomStringByPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="length" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="nonAlphaCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomStringByPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRandomStringByPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="digitConvert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromBase" type="xs:int" />
        <xs:element minOccurs="0" name="toBase" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="digitConvertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="digitConvertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>