WebRole1/Service References/LocalLotGenServiceReference/WCF_LotteryGenService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bigLottery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bigLotteryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bigLotteryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="powerLottery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="powerLotteryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="powerLotteryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jintsai539">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jintsai539Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jintsai539Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>