WebRole1/Service References/LocalLotGenServiceReference/WCF_LotteryGenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCF_LotteryGenService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49709/WCF_LotteryGenService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49709/WCF_LotteryGenService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCF_LotteryGenService_bigLottery_InputMessage">
    <wsdl:part name="parameters" element="tns:bigLottery" />
  </wsdl:message>
  <wsdl:message name="IWCF_LotteryGenService_bigLottery_OutputMessage">
    <wsdl:part name="parameters" element="tns:bigLotteryResponse" />
  </wsdl:message>
  <wsdl:message name="IWCF_LotteryGenService_powerLottery_InputMessage">
    <wsdl:part name="parameters" element="tns:powerLottery" />
  </wsdl:message>
  <wsdl:message name="IWCF_LotteryGenService_powerLottery_OutputMessage">
    <wsdl:part name="parameters" element="tns:powerLotteryResponse" />
  </wsdl:message>
  <wsdl:message name="IWCF_LotteryGenService_jintsai539_InputMessage">
    <wsdl:part name="parameters" element="tns:jintsai539" />
  </wsdl:message>
  <wsdl:message name="IWCF_LotteryGenService_jintsai539_OutputMessage">
    <wsdl:part name="parameters" element="tns:jintsai539Response" />
  </wsdl:message>
  <wsdl:portType name="IWCF_LotteryGenService">
    <wsdl:operation name="bigLottery">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_LotteryGenService/bigLottery" message="tns:IWCF_LotteryGenService_bigLottery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_LotteryGenService/bigLotteryResponse" message="tns:IWCF_LotteryGenService_bigLottery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="powerLottery">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_LotteryGenService/powerLottery" message="tns:IWCF_LotteryGenService_powerLottery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_LotteryGenService/powerLotteryResponse" message="tns:IWCF_LotteryGenService_powerLottery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="jintsai539">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_LotteryGenService/jintsai539" message="tns:IWCF_LotteryGenService_jintsai539_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_LotteryGenService/jintsai539Response" message="tns:IWCF_LotteryGenService_jintsai539_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCF_LotteryGenService" type="tns:IWCF_LotteryGenService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="bigLottery">
      <soap:operation soapAction="http://tempuri.org/IWCF_LotteryGenService/bigLottery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="powerLottery">
      <soap:operation soapAction="http://tempuri.org/IWCF_LotteryGenService/powerLottery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jintsai539">
      <soap:operation soapAction="http://tempuri.org/IWCF_LotteryGenService/jintsai539" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCF_LotteryGenService">
    <wsdl:port name="BasicHttpBinding_IWCF_LotteryGenService" binding="tns:BasicHttpBinding_IWCF_LotteryGenService">
      <soap:address location="http://localhost:49709/WCF_LotteryGenService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>